p{
    font-size: 30px;
    background-color: rgb(255, 204, 0);
    width: 200px;
    padding: 20px;
}


.box{
    background-color: rgb(25, 0, 255);
    width: 240px;
    text-align: center;
    padding: 40px;
    margin: 3%;
    box-shadow: 30px 30px 30px;
    font-family: 'Times New Roman', Times, serif;

}


.marcus{
    height: 100px;
    font
}